.comment {
  margin: (@row-spacing-base / 4) 5px (@row-spacing-base / 4) 0;

  word-break: break-all;
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.comment {
  padding: (@row-spacing-base / 2) 0;
  padding-left: .5em;
}

/* Nested comments get borders */
.comment .comment {
  border-left: dotted 1px #ccc;
  margin-left: .5em;
}

.comment-content p:last-child {
  margin-bottom: 0;
}

.comment-submitted {
  color: @gray;
  font-size: @font-size-small;
}

.comment-vote {
  font-size: @font-size-base;
}

.comment-collapsed {
  &.comment-header {
    opacity: .5;
  }

  &.comment-content {
    display: none;
  }
}
