.listing {
  margin-bottom: @row-spacing-base;
  padding-bottom: @row-spacing-base / 2;
  border-bottom: solid 1px @gray-lighter;
  position: relative;
}

.listing-index {
  color: @gray-light;
  font-size: @font-size-h4;
}

.listing-title {
  font-size: @font-size-h4;
  display: inline-block;
  margin: 0 0 (@row-spacing-base / 2) 0;

  word-break: break-all;
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.listing-thumbnail {
  width: 100%;
  margin-bottom: @row-spacing-base / 2;
}

.listing-footer {
  color: @gray;
  font-size: @font-size-small;
}

.listing-comments {
  font-size: @font-size-small;
  color: @gray;
}

.label.listing-link-flair {
  font-weight: normal;
  display: inline-block;
}

.listing-actions {
  position: relative;
}

.selftext {
  margin-top: @row-spacing-base;
  margin-bottom: @row-spacing-base;
}

.pageNav {
  margin-bottom: 1em;
}

.label.label-danger {
  color: #fff;
}

.link-flair-container .label {
  margin-bottom: @row-spacing-base / 2;
}

.listing-subreddit {
  margin-right: .5em;
}

.listing-external {
  margin-left: .25em;
}

.glyphicon-gilded {
  height: 16px;
  width: 16px;
  display: inline-block;
  background: url('/img/gilded.gif');
}

.vote {
  font-size: 150%;
  position: relative;
  top: .2em;
}

.listing-author-flair {
  margin-left: .25em;
}
